div.news-list {
	word-wrap: break-word;
}

div.news-list img.preview_picture {
	float:left;
	margin:0 4px 6px 0;
}

.news-date-time {
	color:#486DAA;
}

.video-projects__img {
	height: 100%;
	width: 100%;
	/*background: url('../../../../../../upload/videoproekty/history.jpeg');*/
	/*background-repeat: no-repeat;*/
    background-size: cover !important;
    background-position: center !important;
    z-index: 10;
    position: absolute;
}

.video-projects__img-container {
	position: relative;
	height: 220px;
}

.video-project__play-btn {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 20;
    transition: .3s;
}

.video-project__play-btn:hover {
	width: 70px;
	height: 70px;
	transition: .3s;
}

.video-project__player {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	width: 100%;
	margin-bottom: -10px;
}

.video-projects__content {
	padding-top: 10px;
}

.video-projects__item-block {
	flex-direction: column;
}