.iphone-p {
	font-size: 1.8rem;
}
a.iphone-a {
	color: #0499d0;
	text-decoration: underline;
	text-underline-position: under;
	-webkit-text-decoration-style: dashed;
	text-decoration-style: dashed;
}
a.iphone-a:hover {
	text-decoration: none;
}
.iphone-ul {
	font-size: 1.4rem;
}
.author-p {
	font-size: 1.8rem;
}
.author-title {
	font-family: "Exo 2";
	font-size: 3.2rem;
	font-weight: 900;
	line-height: 2.4rem;
	padding-bottom: 1rem;
}
.kontakty-p {
	font-size: 1.8rem;
	color: #4f5362;
}
a.kontakty-a {
	font-size: 1.8rem;
	color: #0499d0;
	text-decoration: underline;
	text-underline-position: under;
	-webkit-text-decoration-style: dashed;
	text-decoration-style: dashed;
}
a.kontakty-a:hover {
	text-decoration: none;
}